
atliq_gold_dbt/target/
atliq_gold_dbt/dbt_packages/
atliq_gold_dbt/logs/
atliq_gold_dbt/.user.yml
/logs
.env
/.venv
/.git
/.vscode
.DS_Store
streaming_pipeline_kafka/airflow/logs
streaming_pipeline_kafka/airflow/dags/__pycache__


